<div class="form-container">
  <div class="form-card">
    <h2>今日の日記を書く</h2>
    <%= form_with(model: post) do |f| %>
      <div class="field>
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, placeholder: "どんな1日でしたか？" %>
      </div>

      <div class="field">
        <%= f.label :content, "内容" %>
        <%= f.text_area :content, rows: 10, placeholder: "ここに自由に書いてください..." %>
      </div>

      <div class="actions"
        <%= f.submit "日記を保存する", class: "btn-submit" %>
      </div>
    <% end %>
  </div>
</div>